.star_rating {
    &_list {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
    }
    &_item {
        padding: 0 6px 0 0;

        svg {
            width: 20px;
            height: 20px;
            g {
                path {
                    transition: all 0.5s ease;
                    fill: rgb(237, 237, 237);
                }
            }
        }
        &.showStar {
            g {
                path {
                    transition: all 0.5s ease;
                    fill: #fe7c22;
                }
            }
        }
    }
}
