// .product_card {
    .product_card {
    width: 350px;
    max-height: 310px;
    margin-bottom: 34px;
        &:last-child {
            margin-right: 0px;
        }
        .product_link {
            border-radius:  6px;
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            transition: transform ease-in 0.2s;
            will-change: transform;
            display: block;
            position: relative;
            background-color: #fff;
            text-decoration: none;
            &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
                }
            
        }
        .title {
            transform: translateY(-5px);
            color: #111;
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin: 12px 6px 6px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        .price {
            font-size: 1.2rem;
            font-weight: 400;
            color: #111;
            text-align: center;
            padding-bottom: 12px;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
        }
        .img {
            width: 100%;
            background-size: contain;
            background-repeat: repeat;
            background-position: top center;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }
    }