.menu_header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ededed;
    z-index: 9999;
    height: 100vh;
    overflow-y: scroll;
    display: none;
    padding: 20px 0;
    &.active {
        display: block;
    }
    &_toggle {
        width: 320px;
        margin: 90px auto;
        position: relative;
    }
    &_item {
        background-color: transparent;
        margin-top: 14px;
        border-radius: 10px;
        border: 1px solid #ccc;
        &_link {
            color: #000;
            padding: 30px 16px 20px;

            font-size: 1.8rem;
            font-weight: 500;
            display: block;
        }
    }
    &_flex {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        &_button {
            position: relative;
            cursor: pointer;
            img {
                border-radius: 10px;
            }
        }
        &_btn {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);

            font-size: 1.8rem;
            color: #fff;
            background-color: transparent;
            border: none;
        }
    }

    &_close {
        position: absolute;
        top: 0px;
        right: -20px;
        transform: translate(0%, -100%);

        padding: 12px;
    }
}
