@use "../../../../assets/scss/base.scss" as *;
@use "../../../../assets/scss/breakpoints" as *;
.slider_reviews_list {
    height: 100%;
    display: flex;
}
.slider_reviews_item {
    width: 100vmin;
    margin: 0 20px;

    padding: 30px 20px;

    border-radius: 30px;
    border: 1px solid #dbdbdb;
    background: #f6f6f6;
    //   background-image: url('${content}');
    @include md {
        padding: 40px 30px;
    }
    @include lg {
        width: calc(1200px / 3);
    }
    &_img {
        // width: 100px;
        // height: 100px;
        margin: auto;
        img {
            width: 100%;
            overflow: hidden;
            border-radius: 16px;
        }
    }
    &_no_img {
        background-color: rgba(255, 255, 255, 0.13);
        animation: toOpacity 1.5s ease-in-out 0.5s infinite alternate none running;
        width: 60px;
        height: 60px;
        border-radius: 16px;

        margin: auto;
        @include md {
            width: 100px;
            height: 100px;
        }
    }
    &_text {
        min-height: 230px;
        padding-bottom: 30px;
        p {
            font-family: "Gilroy", sans-serif;
            line-height: 2.6rem;
            font-weight: 400;
            font-size: 1.6rem;
            color: #000;
        }
        h2 {
            font-family: "Gilroy", sans-serif;

            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            text-align: right;
            color: #9d9d9d;
            padding-top: 16px;
        }
    }
    &_product {
        font-family: $font-slab;

        font-weight: 400;
        font-size: 1.4rem;
        text-align: center;
        color: #000;
        padding-top: 24px;
    }
}
