@use "./../../../../assets/scss/base" as *;
@use "./../../../../assets/scss/breakpoints" as *;

.product_item {
    display: flex;
    margin-right: 26px;
    align-items: center;
    color: $text-color;
    position: relative;

    &_wrap {
        width: 100%;
    }
    &_img {
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: contain;
        border-radius: 12px;
        width: 60px;

        @include lg {
            width: 90px;
        }
    }

    &_info {
        flex: 1;
        font-size: 1.3rem;
    }
    &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_link {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.6rem;
            color: $text-color;

            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &_price {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        min-width: 40px;
    }
    &_quantily {
        display: flex;
        justify-content: start;
        font-size: 1.6rem;
        align-items: center;
        width: 100%;

        .btn {
            border: none;
            font-size: 1.7rem;
            font-weight: 900;
            width: 40px;
            height: 40px;
            background-color: #fff7ec;
            border-radius: 50%;
            cursor: pointer;
            &:hover {
                background-color: #ffdba9;
            }
        }
        p {
            font-size: 1.3rem;
            padding: 12px;
            width: 40px;
            height: 40px;
            text-align: center;
        }
    }
    &_delete {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(100%, -50%);

        &:hover .product_delete_title {
            visibility: visible;
            opacity: 1;
        }
        &_img {
            width: 20px;
            height: 20px;
        }
        &_title {
            position: absolute;
            top: -32px;
            left: 20px;
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease-in;
            p {
                color: #000;
                font-size: 1.2rem;
                font-weight: 550;
                position: absolute;
                top: 15px;
                left: 14px;
            }
        }
    }
    &_total {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 3rem;
        text-align: start;
    }
}
