.slider_dow {
    position: relative;
    height: 75vh;
    overflow: hidden;

    &_list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &_item {
        height: 75vh;
        width: 100%;
        display: flex;
        //   background-image: url('${content}');
        &_text {
            flex: 1;
            padding: 30px 0 50px;
            background: #ededed;
            &_stroke {
                font-style: normal;
                font-weight: 700;
                font-size: 5.4rem;
                line-height: 4rem;
                color: #fd7f28;
                display: block;
                padding: 16px 0px;
            }
        }
        h2 {
            font-style: normal;
            font-family: "Gilroy", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 134.68%;
            padding: 16px 0;
            text-transform: uppercase;
            color: rgba(26, 24, 23, 0.6);
        }
        h1 {
            padding: 24px 0;
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 5.4rem;
            line-height: 4rem;
            color: #1a1817;
            display: block;
        }

        p {
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #979797;
            margin: 35px 0;
        }
        .btn_shop_show {
            background: #fd7f28;
            padding: 12px 0;
            border: none;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-bottom: 24px;
            &_link {
                color: #fff;
                font-size: 1.4rem;
                padding: 12px 24px;
            }
        }
        .text_number {
            display: flex;
            align-items: center;
            span {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: rgba(26, 24, 23, 0.5);
                width: max-content;
            }
        }
        .text_line {
            width: 100px;
            height: 1px;
            margin-left: 24px;
            background-color: #000;
        }
        &_img {
            flex: 1;
            background: #9acbcf;
            position: relative;
            .img {
                height: 64%;
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: top center;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                z-index: 2;
            }
        }
    }
    &_dots {
        position: absolute;
        bottom: 25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__dot {
        padding: 6px;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 50%;
    }
    &_arrow {
        display: flex;
        position: absolute;
        top: 45%;
        height: 32px;
        width: 32px;
        justify-content: center;
        background: white;
        border-radius: 50%;
        cursor: pointer;
        align-items: center;
        transition: transform ease-in 0.1s;
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.4);
        &:hover {
            transform: scale(1.1);
        }
        img {
            transform: scale(0.5);
            &:focus {
                outline: 0;
            }
        }
    }
    .button_arrow {
        position: absolute;
        bottom: 0;
        right: 25%;
        transform: translate(50%, 0);
        display: flex;
        &_text {
            background: #fcd0a1;
            padding: 30px 12px;
            min-width: 250px;
            border-top-right-radius: 10px;
        }
        h2 {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            color: rgba(68, 58, 49, 0.42);
            margin-bottom: 10px;
        }
        p {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #191817;
            margin-top: 0;
        }
        .button {
            &_arrow_btn {
                cursor: pointer;
                width: 51px;
                height: 50%;
                img {
                    width: 60%;
                    transform: translate(10px, 10px);
                }
            }
            &_arrow_left {
                background: #ffdfbd;
            }
            &_arrow_right {
                background: #f2bf88;
            }
            // position: absolute;
            // top: 0;
            // left: 0;
            // display: flex;
            // flex-direction: column;
            // width: 24px;
            // height: 100%;
        }
    }
}
