@use "./../../assets/scss/base" as *;
@keyframes growth {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes img {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    95% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
    }
}

.product_detail {
    padding: 60px 0 0px;
}
.product_briefing {
    position: relative;
    padding-left: 20px;
    z-index: 0;
    // border-top: 1px solid #e5e5e5;
    // padding: 34px;
    // border-radius: 34px;
    // box-shadow: 3px 9px 34px 0 rgba(0, 0, 0, 0.2);
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: calc(50% + 20px);
        background: #f6f6f6;
        width: 200%;
        height: 100%;
    }
    .product_img {
        animation: growth linear 0.3s;
        position: relative;
        min-height: 320px;
        .img {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .img_fake {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        &_fake {
            $imgFake50: translate(897px, -350px) scale(0.1);
            $imgFakeTo: translate(0px, 0px) scale(1);
            $imgFake100: translate(0px, 0px) scale(1);
            width: 100%;
            padding: 0 16px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            // transform: translate(0px, 0px) scale(1);
            opacity: 11;
            // visibility: visible;
            // transform :translate(897px, -278px) scale(0.1);
            transition: all 0.75s linear 0.5s;
            transition-property: visibility, opacity, transform;
            // animation: imgFake 1.5s linear;
            z-index: 11;
            @keyframes imgFake {
                0% {
                    visibility: visible;
                    opacity: 1;
                    transform: $imgFakeTo;
                }
                50% {
                    transform: $imgFake50;
                    opacity: 0.5;
                    visibility: hidden;
                }
                100% {
                    visibility: hidden;
                    opacity: 0;
                    transform: $imgFake100;
                }
            }
            &.active {
                // transform: translate(847px, -350px) scale(0.1);
                opacity: 0.1;
                transition: all 0.75s linear 0.5s;
                transition-property: opacity, transform;
                animation: imgFake 1.5s linear;
            }
        }
    }

    .product_content {
        padding: 20px 30px;
        // margin: auto;
        // width: 75%;
    }
    .product_header {
        // opacity: 1;
        h2 {
            font-size: 1.4rem;
            font-weight: normal;
            font-family: $font-slab;
            line-height: 4rem;
            letter-spacing: 1px;
            color: #acacac;
        }
        h3 {
            font-size: 2rem;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: #000;
        }
    }
    .product_size {
        // display: flex;
        display: none;
        align-items: center;
        &_heading {
            font-size: 1.4rem;
            color: #000;
            line-height: 2rem;
        }
        .size_item {
            font-size: 1.3rem;
            color: #000;
            line-height: 2rem;
            border: 1px solid #c1c1c1;
            font-weight: bold;
            border-radius: 10px;
            margin: 0 12px;
            padding: 3px 4px;
            cursor: pointer;
            &:hover {
                background-color: #1597e5;
            }
            &.active {
                background-color: #1597e5;
            }
        }
    }
    .product_rating {
        display: flex;
        align-items: center;
        padding: 20px 0;
        &_list_start {
            display: flex;
            align-items: center;
            height: 36px;
            .customers_reviews_item_rating {
                margin: 0;
            }
        }
        &_title {
            font-size: 1.4rem;
            padding-left: 4px;
            font-weight: 400;
            font-family: $font-gilroy;
            text-decoration: underline;
            color: #000;
        }
    }
    .product_price_quantity {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
        .product_quantity {
            border: 1px solid #999999;
            border-radius: 6px;
            height: 30px;
            display: flex;
            align-items: center;
            .btn {
                width: 30px;
                height: 20px;
                font-size: 1.6rem;
                font-weight: bold;
                border: none;
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                background: transparent;

                &:first-child::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    right: 0;
                    width: 1px;
                    height: 16px;
                    background-color: #cbcbcb;
                }
                &:last-child::before {
                    content: "";
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 1px;
                    height: 16px;
                    background-color: #cbcbcb;
                }
            }
            span {
                font-size: 1.8rem;
                font-weight: bold;
                width: 30px;
                line-height: 3rem;
                text-align: center;
                color: #000;
            }
        }
        h3 {
            font-size: 2.4rem;
            color: #000;
            font-weight: 900;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 25%;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(250, 218, 197, 0.2) 30%, #fadac5);
            }
        }
    }

    .product_des {
        height: 135px;
        padding: 0px 0 30px;
        margin-bottom: 30px;
        transition: all 0.3s linear;
        &.show_content {
            height: 350px;
            // transition: all 0.3s linear;
        }
        .text {
            font-size: 1.4rem;
            line-height: 2.6rem;
            color: rgba(0, 0, 0, 0.56);
            transition: all 0.45s linear;

            &.show_content {
                transition: all 0.45s linear;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
            }
        }
        span {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 700;
            font-size: 1.4rem;
            color: #000;
            text-decoration: underline;
            display: inline;
            cursor: pointer;
            &:hover {
                text-decoration-thickness: 0.2rem;
            }
        }
    }

    .product_footer {
        // width: 400px;
        .product_btn {
            display: flex;
            justify-content: space-around;
            text-align: center;

            .btn {
                cursor: pointer;
                border: none;

                color: #000;
                &:hover {
                    background-color: #1597e5;
                    color: rgb(255, 255, 255);
                }
                &:first-child {
                    font-weight: 550;
                    background-color: #1597e5;
                    color: rgb(255, 255, 255);
                }
                &:last-child {
                    border: 1px solid #888888;
                }
                &_show_all_link {
                    display: flex;
                    align-items: center;
                    img {
                        height: 32px;
                    }
                    p {
                        font-size: 1.4rem;
                        padding: 14px 20px 14px 6px;
                    }
                }
                &_add_gift {
                    font-size: 1.6rem;
                    line-height: 3rem;
                    padding: 6px 24px;
                    border: 1px solid #ababab;
                    border-radius: 16px;
                }
            }
        }
        .btn_show_all {
            @include show_all_beffor(180px);
        }
    }
}

// recommendation
.recommendation {
    padding: 50px 0;
    position: relative;
    z-index: 0;
    &::after {
        content: "";
        position: absolute;
        top: 0%;
        left: -50%;
        width: 200%;
        z-index: -1;
        height: 100%;
        background-color: #f6f6f6;
    }
    &_text {
        padding-bottom: 30px;
        .text_fill {
            font-size: 4rem;
            line-height: 3rem;
        }
        .text_stroke {
            font-size: 4.4rem;
            line-height: 4rem;
        }
    }
    // &_products_overlay {
    //     position: absolute;
    // }
    &_products_list {
        background-color: #f6f6f6;
    }
    p {
        font-size: 1.6rem;
        color: #000;
        font-weight: 550;
        padding-bottom: 14px;
    }
}

#notice {
    position: fixed;
    top: 124px;
    right: 16px;
    z-index: 99999;
}
