// checkout_details
.checkout_details {
    display: flex;
    &_container {
        position: relative;
        z-index: 2;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 42%;
            height: 100%;
            background-color: #fafafa;
            z-index: -1;
        }
    }
    &_logo {
        display: block;
        img {
            width: 120px;
        }
    }
    &_main {
        width: 60%;
        padding: 30px 60px;
        border-right: 1px solid #e1e1e1;
        // user
        .customer_infor {
            display: block;
            &.active {
                display: none;
            }
            &_heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 30px;
                h1 {
                    font-size: 2rem;
                    line-height: 2rem;
                    font-weight: normal;
                }
                span {
                    font-size: 1.6rem;
                    color: #191817;
                    a {
                        padding: 0 4px;
                    }
                }
            }
        }
    }
    &_notice {
        // position: relative;

        .checkout_warning {
            display: none;
            width: 350px;
            border-radius: 36px;
            min-height: 240px;
            padding: 12px 24px;
            .header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                img {
                    margin-right: 12px;
                    width: 24px;
                    height: 24px;
                }
                p {
                    padding: 0;
                    text-align: justify;
                    font-size: 1.4rem;
                    font-weight: 550;
                    color: #000;
                }
            }
            .title,
            p {
                text-align: justify;
                font-size: 1.3rem;
                letter-spacing: 1px;
                padding-top: 10px;
                color: #000;
            }
            span {
                color: #000;
                letter-spacing: 1px;
                font-size: 1.3rem;
                padding: 10px 0;
            }
        }
        .product_cart {
            padding: 12px 24px;
            &_heading {
                &_title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:nth-child(2) {
                        padding-bottom: 4px;
                        border-bottom: 1px solid #e1e1e1;
                    }
                }
                &_total {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.6rem;
                    font-weight: normal;
                    color: #535353;
                    line-height: 4rem;
                }
            }
        }
    }
}

.banking {
    display: none;
    margin: 20px 24px 32px;
    &.active {
        display: block;
    }
    .prev_icon {
        position: absolute;
        top: -14px;
        left: 14px;
        display: flex;
        cursor: pointer;
        img {
            width: 16px;
        }
        p {
            font-size: 1.3rem;
            color: #000;
        }
    }
    .btn_submit_return {
        display: flex;
        justify-content: space-between;
        .button_return {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        img {
            width: 20px;
        }
        .btn_return {
            border: none;
            font-size: 1.6rem;
            padding: 0 6px;
            color: #757575;
            background-color: transparent;
            cursor: pointer;
        }
        .btn_submit {
            background-color: #115e5c;
            color: #fff;

            cursor: pointer;

            padding: 12px 24px;
            font-size: 1.6rem;
            border-radius: 10px;
            border: none;
        }
    }
    .checkout_method {
        font-size: 1.6rem;
        line-height: 3rem;
        &_qr {
            padding-top: 12px;
            &_img {
                width: 70px;
                margin: auto;
            }
            img {
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
            }
            p {
                font-size: 1.6rem;
                line-height: 3rem;
                color: #000;
                text-align: center;
            }
        }

        &_list {
            padding-bottom: 10px;
            display: flex;
            justify-content: center;
        }
        &_item {
            display: flex;
            align-items: center;
            background-color: #fff;
            margin: 0 12px;
            border-radius: 10px;
            padding: 8px 12px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            &:hover {
                background-color: #ff9a52;
            }
            &.active {
                background-color: #ff9a52;
            }
            p {
                padding-right: 4px;
                line-height: 2rem;
                color: #fff;
                &:last-child {
                    text-align: center;
                }
            }
        }
        &_logo_banking {
            height: 30px;
            border-radius: 5px;
            .banking_logo {
                display: inline-block;
                font-size: inherit;
                overflow: visible;
                vertical-align: -0.125em;

                max-width: 30px;
                height: 30px;
                color: #fff;
            }
        }
        &_logo:last-child {
            background-color: #a50064;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .momo_logo {
            max-width: 22px;
        }
    }

    //Transfre method
    .transfer_method {
        display: none;
        &.active {
            display: block;
        }
        .transfer_title {
            p {
                text-align: justify;
                font-size: 1.6rem;
                line-height: 2rem;
                letter-spacing: 0.8px;
                padding: 16px 0 28px;
                color: #757575;
                font-weight: bold;
            }
        }
        .form_transfer {
            position: relative;
            padding: 6px 8px;
            border: 1px solid #acacac;
            border-radius: 6px;
            margin-bottom: 24px;
            .form_header {
                position: absolute;
                top: -10px;
                left: 10px;
                background-color: #fff;
                font-size: 1.4rem;
                padding: 0 4px;
                color: #757575;
                z-index: 2;
            }
            .form_title {
                font-size: 1.6rem;
                color: #757575;
                padding: 2px 0 0 4px;
                font-weight: normal;
                line-height: 2.8rem;
            }
            &:last-child {
                margin-bottom: 20px;
            }
        }
        .form_checkbox {
            display: flex;
            align-items: center;
            p {
                font-size: 1.3rem;
                padding: 0 0 10px 5px;
                color: #000;
                text-align: justify;
            }
        }
    }
    //Payment_method
    .payment_method {
        display: none;
        &.active {
            display: block;
        }
        p {
            font-size: 1.3rem;
            color: #000;
            padding: 4px 0;
            line-height: 2rem;
            text-align: justify;
            font-weight: bold;
            &:last-child {
                padding-bottom: 154px;
            }
        }
    }
}

//checkout
.checkout {
    position: absolute;
    top: 80px;
    left: 25px;
    img {
        width: 630px;
    }
}

#notice {
    position: fixed;
    top: 124px;
    right: 16px;
    z-index: 99999;
}
