.form {
    text-align: center;
    background: #fff;
    border-radius: 2px;
    padding-top: 20px;
    align-self: center;
    .heading {
        font-size: 2rem;
        line-height: 4rem;
        padding-bottom: 12px;
        text-align: start;
    }
    &.active {
        display: none;
    }
}
.form_group {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
}
.form_select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .form_control {
        cursor: pointer;
        width: calc((100% - 20px) / 3);
    }
}
.form_label {
    text-align: left;
    font-weight: normal;
    padding-bottom: 8px;
    line-height: 1.8rem;
    font-size: 1.6rem;
}
.form_control {
    padding: 12px 16px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    outline: none;
    font-size: 1.6rem;
}
.form_control:not(:placeholder-shown).form_control:not(:focus) {
    border: 1px solid #d9d9d9;
    background-color: #fff;
}

.form_invalid .form_control {
    border: 1px solid;
    border-color: red;
}
.form_message {
    color: #f33a58;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 2px 0 0;
    text-align: start;
}
.form_submit {
    outline: none;
    background-color: #115e5c;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 30%;
    font-size: 1.6rem;
    border-radius: 24px;
    cursor: pointer;
}
.shipping {
    text-align: start;
    font-size: 2rem;
    font-weight: normal;
    padding: 20px 0;
}
