.slider {
    position: relative;
    height: 70vh;
    // width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 60px;
    &__list {
        height: 100%;
        display: flex;
    }
    &__item {
        height: 70vh;
        width: 100%;
        //   background-image: url('${content}');
        &__img {
            padding-top: 44%;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &__dots {
        position: absolute;
        bottom: 25px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__dot {
        padding: 6px;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 50%;
    }
    &_wrap {
        position: absolute;
        bottom: 32px;
        left: 100px;
    }
    &_buttons {
        margin: auto;
        display: flex;
        width: 140px;
        justify-content: space-around;
    }
    &_length {
        padding: 12px 0;
        span {
            font-weight: 700;
            font-size: 1.8rem;
            padding: 8px;
            text-align: center;
            color: #fff;
        }
    }
    &__arrow {
        display: flex;
        height: 40px;
        width: 40px;
        justify-content: center;
        background: transparent;
        border: 2px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        align-items: center;
        transition: transform ease-in 0.1s;
        box-shadow: 4px 4px 16px rgba(255, 255, 255, 0.2);
        &:hover {
            transform: scale(1.1);
        }
        img {
            transform: scale(0.5);
            &:focus {
                outline: 0;
            }
        }
    }
}
