.customers_reviews_item {
    padding: 24px 0;
    border-top: 1px solid #ccc;
    &_star {
        padding-bottom: 20px;
    }
    &_verified {
        background: #000000;
        color: #fff;
        padding: 2px 4px;
        font-size: 1.2rem;
    }
    h1 {
        font-size: 2rem;
        padding: 12px 0 50px 0;
    }
    p {
        margin-top: 12px;
        font-weight: 400;
        font-size: 1.6rem;
        color: #969696;
        width: 85%;
    }
    &_name {
        padding: 30px 0 6px;
        font-size: 1.6rem;
        font-weight: bold;
        color: #757575;
    }
    &_date {
        font-size: 1.6rem;
        color: #757575;
    }
}
