@use "./../../../assets/scss/breakpoints" as *;
@use "./../../../assets/scss/base" as *;
.header {
    &_container {
        background-color: #ededed;
        position: fixed;
        width: 100%;
        top: 0;
        height: 64px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        transition: height 0.25s linear;
        &.active {
            height: 64px;
            transition: height 0.25s linear 0.1s;
            .navbar_container {
                height: 0;
                opacity: 0;
                transition: height 0.25s linear, opacity 0.25s linear;
            }
        }
        @include lg {
            height: 100px;
        }
    }
    &_wrap {
        height: 64px;
        display: flex;
        opacity: 1;
        // justify-content: space-between;
        justify-content: flex-end;
        transition: height 0.25s linear;
        position: relative;
        align-items: center;
        &_menu {
            position: relative;
            width: 40px;
            height: 40px;
            margin-right: 16px;
            background-color: #fff;
            border-radius: 12px;
            overflow: hidden;
            cursor: pointer;

            &::after {
                content: "";
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 2.5px;
                background-color: rgb(43, 43, 43);
                border-radius: 20px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-60%, -50%);
                width: 40%;
                height: 2.5px;
                background-color: rgb(43, 43, 43);
                border-radius: 20px;
            }
        }
        &_search {
            position: relative;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: flex-end;
            margin-right: 16px;
            border-radius: 12px;
            background-color: #ededed;
            border: none;
            &.active {
                opacity: 1;
                &_border {
                    width: 220px;
                }
                .header_wrap_search_input {
                    &_btn {
                        display: block;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;
                        transition: border-radius 0.25s linear;
                    }
                    &::after {
                        transform: scaleX(0);
                        transition: transform 0.5s linear 0.2s;
                    }
                }
                .btn {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    transition: border-radius 0.25s linear;
                }
            }
            &_border {
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                border-radius: 12px;
                width: 40px;
                height: 40px;
                cursor: pointer;

                transition: all 0.5s ease-in;
                transition-property: width;
                // &.active {
                // }
                &::after {
                    content: "";
                    position: absolute;
                    top: 16px;
                    right: 10px;
                }
            }
            &_input {
                width: 179px;

                &::after {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    top: 0px;
                    right: 40px;
                    background-color: #ededed;
                    width: 180px;
                    height: 40px;
                    transform: scaleX(1);
                    transform-origin: top left;
                    transition: transform 0.5s linear 0.25s;
                }

                &_btn {
                    position: relative;
                    z-index: 2;
                    width: 100%;
                    height: 40px;
                    outline: none;
                    border: none;
                    line-height: 48px;
                    border-radius: 12px;
                    font-size: 1.4rem;
                    transition: border-radius 0.25s linear 0.6s;
                    padding-left: 10px;
                    color: #000;
                }
                &_searchProduct {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    transform: translate(0px, 10px);
                    min-height: 100px;
                    min-width: 300px;
                    max-width: 350px;
                    z-index: 1;
                    padding: 10px 20px;
                    background-color: #fff;
                    border-radius: 20px;
                    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.26);
                    transition: all 0.5s ease-in;

                    visibility: hidden;
                    &.showSearchProduct {
                        visibility: visible;
                        transition: all 0.5s ease-in 0.5s;
                    }
                }
            }
            .btn {
                border: none;
                width: 40px;
                height: 40px;
                cursor: pointer;
                background: #fff;
                border-radius: 12px;
                transition: border-radius 0.25s linear 0.6s;
                &_icon {
                    font-size: 1.6rem;
                }
            }
        }
        &_signIn {
            width: 40px;
            height: 40px;
            margin-right: 16px;
            background-color: #fff;
            border-radius: 12px;
            overflow: hidden;
            cursor: pointer;
            .user_image {
                width: 100%;
            }
            .icon_login {
                height: 100%;
                text-align: center;
                line-height: 3.9rem;
                i {
                    font-size: 1.6rem;
                    color: #484848;
                    transform: translateY(3px);
                }
            }
        }
        &_logo {
            position: absolute;
            top: 0;
            left: 50%;
            bottom: 0;
            z-index: 1;
            // flex: 1;
            // text-align: center;
            transform: translate(-50%, 0);
            &_link {
                img {
                    // max-width: 50%;
                    width: 100px;
                    padding: 10px 0;
                    height: 100%;
                    overflow: hidden;
                }
            }
        }
    }
}
.header_span {
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    color: rgb(250, 36, 36);
}
.cart {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    &.hasCart {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transform: translate(4px, -4px);
            border: 3px solid #ededed;
            transition: all 0.25s linear;
            background-color: #fe7c22;
        }
    }
    &_icon {
        height: 40px;
        transform: translateY(-1px);
        font-size: 1.8rem;
        color: #000;
    }
}

.titleNavbar {
    position: absolute;
    background-color: #fff;
    z-index: 1;
    top: 37px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.26);

    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-delay: 0.2s;
    will-change: transform;
    visibility: hidden;
    opacity: 0;

    &_list {
        background-color: #fff;
        position: absolute;
        z-index: 1;
        top: 0px;
        width: 160px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.26);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s linear 0.3s;
    }

    .active {
        visibility: visible;
        opacity: 1;
    }

    &_item {
        font-size: 1.4rem;
        font-weight: 300;
        padding: 12px 0 12px 12px;
        border-bottom: 1px solid #707070;
    }
    &_item:last-child {
        border-color: transparent;
    }
}

//NAvbar -
.navbar {
    &_container {
        transition: height 0.25s linear 0.1s, opacity 0.25s linear 0.1s;
        display: none;
        @include lg {
            display: block;
        }
    }
    &_list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &_item {
        flex: 1;
        align-items: center;
        text-align: center;
        position: relative;

        &_tabs_nav {
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 8px;
                height: 1.5px;
                transform: translate(-5px, 0px) rotate(-45deg);
                transform-origin: top left;
                transition: transform 0.5s linear;

                background-color: #c2c2c2;
            }
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 8px;
                height: 1.5px;
                transform: translate(-4px, 1px) rotate(225deg);
                transition: transform 0.5s linear;
                transform-origin: top left;
                background-color: #c2c2c2;
            }

            &:hover {
                .navbar_tabs_list {
                    transition: all 0.5s linear;
                    opacity: 1;
                    visibility: visible;
                }
                &::after {
                    transition: transform 0.5s linear;
                    transform-origin: top left;

                    transform: translate(-4px, -3px) rotate(135deg);
                }
                &::before {
                    transition: transform 0.5s linear;
                    transform-origin: top left;
                    transform: translate(-4px, -4px) rotate(405deg);
                }
            }
        }

        &_link {
            text-decoration: none;
            display: block;
            text-align: center;
            font-family: $font-gilroy;
            font-size: 1.4rem;
            letter-spacing: 1px;
            font-weight: 400;
            color: #000;
            line-height: 3.6rem;
            max-height: 3.6rem;
            position: relative;
            overflow: hidden;
            p {
                line-height: 3.6rem;
                transition: transform 0.3s ease-in-out;
            }
            &_text_first {
                opacity: 1;
            }
            &:hover {
                .navbar_item_link_text_last {
                    transform: translateY(-100%);
                    transition: transform 0.3s ease-in-out;
                }
                .navbar_item_link_text_first {
                    transform: translateY(-100%);
                    transition: transform 0.3s ease-in-out;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                width: 1px;
                height: 70%;
                background-color: #c2c2c2;
            }
        }
    }

    &_tabs {
        &_list {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 100%;
            z-index: 333;
            left: 0;
            width: 130%;
            padding: 4px 16px;
            background-color: #ededed;
            border-radius: 20px;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        }
        &_item {
            width: 100%;
            height: 48px;
            border-bottom: 1px solid #eae0e0;
            &:last-child {
                border-bottom: 0px solid transparent;
            }
            &:hover {
                .navbar_tabs_item_link {
                    color: #f99028;
                }
            }
            &_link {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-family: $font-gilroy;
                font-size: 1.4rem;
                letter-spacing: 0.5px;
                color: #000;
                height: 100%;
                line-height: 2rem;
                &_img {
                    width: 40px;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                span {
                    flex: 1;
                }
            }
        }
    }
}
