@import '../../../scss/base';

.footer {
    background-color: #2f466c;
    color: $white-color;
    overflow-y: hidden;
    padding: 24px 0;
    .header {
        
    }
    h1 {
        text-align: center;
        font-size: 2rem;
        color: #fff;
        line-height: 4rem;
    }

    h2 {
        padding: 12px 0;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 30px;
        letter-spacing: 1px;
    }
    li {
        font-size: 1.4rem;
        padding-top: 6px;
        color: #fff;
        line-height: 2rem;
    }
    &_fanpage {
        display: flex;
        align-items: center;
        max-height: 4rem;
    }
    &_icon {
        font-size: 2rem;
        color: #fff;
        width: 3.2rem;
        margin-right: 8px;
    }
    &_about {
        p {
            font-size: 1.5rem;
            color: #fff;
            line-height: 3rem;
        }
        li {
            font-size: 1.2rem;
            color: #fff;
            line-height: 2rem;
        }
    }
    &_caption {
        text-align: center;
        padding-top: 24px;
        &_heading {
            font-size: 1.4rem;
            color: #fff;
        }
    }
    
}